@model Youffer.Resources.Models.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_NewYoufferLayout.cshtml";
}

<style>
    #ConfirmPassworderr {
        color: red;
        margin: 0;
        padding: 0;
        margin-top: 15px;
        height: 20px;
        margin-bottom: 20px;
    }

    .register-img {
        position: absolute;
        width: 20px;
        margin-left: 15px;
    }
</style>
<div class="page-container" style="min-height: 620px;">
    <div class="newPassword">
        <div id="forgotPassword" style="text-align: justify; margin: 0 auto; width: 400px;">
            <div id="ConfirmPassworderr">
                @{
                    if (!string.IsNullOrEmpty(ViewBag.Status))
                    {
                        if ((ViewBag.Status).Contains("Successfully"))
                        {
                            <span style="color: green;">@ViewBag.Status</span>
                        }
                        else
                        {
                            <span>@ViewBag.Status</span>
                        }
                    }
                }
            </div>
            @using (Html.BeginForm("ChangePassword", "Account", new { }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div>
                    <div style="margin-bottom: 20px; ">
                        @Html.LabelFor(m => m.OldPassword)
                        <div class="register-img-Div">
                            <img src="/img/icons/Password.png" style="margin-top: 14px;" class="register-img" />
                        </div>
                        @Html.PasswordFor(m => m.OldPassword, new { id = "register-input", @class = "text txtOldPassword", onkeypress = "clearErrMsg();", style = "width: 300px;" })
                    </div>
                    <div style="margin-bottom: 20px; ">
                        @Html.LabelFor(m => m.NewPassword)
                        <div class="register-img-Div">
                            <img src="/img/icons/Password.png" style="margin-top: 14px;" class="register-img" />
                        </div>
                        @Html.PasswordFor(m => m.NewPassword, new { id = "register-input", @class = "text txtPassword", onkeypress = "clearErrMsg();", style = "width: 300px;" })
                    </div>
                    <div style="margin-bottom: 20px; ">
                        @Html.LabelFor(m => m.ConfirmPassword)
                        <div class="register-img-Div">
                            <img src="/img/icons/Password.png" style="margin-top: 14px;" class="register-img" />
                        </div>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { id = "register-input", @class = "text txtConfirmPassword", onkeypress = "clearErrMsg();", style = "width: 300px;" })
                    </div>
                    <div style="margin-bottom: 20px;">
                        <input type="submit" class="buy-button" value="Submit" onclick="return validateRegister();" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script>
    function validateRegister() {
        var error = true;
        $('#ConfirmPassworderr').html('');
        if ($('.txtOldPassword').val().trim().length <= 0) {
            $('#ConfirmPassworderr').append("Old Password is required.<br />");
            error = false;
        }
        if ($('.txtPassword').val().trim().length <= 0) {
            $('#ConfirmPassworderr').append("Password is required.<br />");
            error = false;
        }
        else if ($('.txtPassword').val().trim().length < 6) {
            $('#ConfirmPassworderr').append("The Passowrd must be at least 6 characters long.<br />");
            error = false;
        }
        else if ($('.txtPassword').val().trim() != $('.txtConfirmPassword').val().trim()) {
            $('#ConfirmPassworderr').append("The password and confirmation password do not match.<br />");
            error = false;
        }
        else
            error = true;

        if (error == false) {
            $('.txtPassword').val('');
            $('.txtConfirmPassword').val('');
            return false;
        }
        else
            return true;
    }
    function clearErrMsg() {
        $("#ConfirmPassworderr").html('');
    }
</script>

