@model Youffer.Web.Resources.ViewModel.WebClientSearchPanelModel
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<style>
    #ddlCountry option
    {
        width: 100%;
        margin-left: 50px;
    }

    .InterestName
    {
        border: 0;
        outline: 0;
        width: 270px;
        height: 31px;
        margin-top: -1px;
        margin-left: 28px;
        font-size: 13px;
    }
</style>
@using (Ajax.BeginForm("Search", "Client", new { }, new AjaxOptions { OnBegin = "validateRequest", HttpMethod = "POST", OnSuccess = "SearchClientSuccess", OnComplete = "SearchClientComplete" }, new { id = "formSearchClientPanel" }))
{
   
    @Html.HiddenFor(x => x.SortByColumn, new { Value = 0, id = "hSortbyColumn" })
    @Html.HiddenFor(x => x.SortDirection, new { Value = 1, id = "hSortByDirection" })
    @Html.HiddenFor(x => x.LastPageId, new { Value = 1, id = "hLastPageId" })
    @Html.HiddenFor(x => x.FetchCount, new { Value = 100, id = "hFetchCount" })
    <div class="content-section-a" style="background: #ececec;">
       <div style="margin-left:10px;"> @Html.ValidationMessageFor(X => X.AgeTo)</div>
        <div class="search-filter">
            <div class="row">
                <div class="search-div" style="width: auto; margin-left: 15px; float: left;">
                    <div class="search-big" style="margin-left: 0; width: 315px;">
                        <i class="fa fa-search"></i>
                        @*@Html.TextBoxFor(x => x.InterestName, new { placeholder = "Enter your Business Type", id = "search-bar", @class = "InterestName" })*@

                        @Html.DropDownListFor(x => x.SubInterestName, new SelectList(ViewBag.BusinessTypes, "BusinessTypeId", "BusinessType"), "Enter your Business Type", new { id = "SubInterestName", @class = "InterestName" })
                    </div>

                    <div class="country gender">
                        @Html.DropDownListFor(x => x.Country, new SelectList(string.Empty, "Value", "Text"), "Select Country", new { id = "ddlCountry", style = "width: 290px;" })
                    </div>

                    <div class="clearfix"></div>
                </div>

                <div style="float: left; margin-left: 15px; margin-right: 15px;">
                    <div class="age-filter">
                        Age: &nbsp;
                        @Html.DropDownListFor(x => x.AgeFrom, new SelectList(new[] { new {Value="0", Text="From"}},"Value", "Text"))
                        &nbsp; &nbsp;
                        @Html.DropDownListFor(x => x.AgeTo, new SelectList(new[]{ new {Value="0", Text="To"}}, "Value", "Text"))
                    </div>

                    <div class="gender">
                        Gender:&nbsp;
                        @Html.DropDownListFor(x => x.Gender, new SelectList(new[]
                                          {
                                              new{ID=string.Empty, Name="All"},
                                              new {ID="Male",Name="Male"},
                                              new{ID="Female",Name="Female"},
                                          },
                                          "ID", "Name", 1))
                    </div>

                </div>

                <div class="search-div" style="width: auto;">
                    <input type="submit" class="big-btn custom-big-btn" id="btnClientSearch" value="Search" style="" />
                </div>
            </div>

            <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
                <div class=" col-lg-6 age-filter">
                    <table>
                        <tr>
                            <td>@Html.CheckBoxFor(x => x.OnlyActiveClient, new { type = "checkbox", style = "width: 20px; height: 20px;" })
                            </td>
                            <td>
                                <span>Show active only</span> &nbsp; &nbsp; &nbsp; &nbsp;
                            </td>
                            <td>@Html.CheckBoxFor(x => x.OnlyReviewedClient, new { type = "checkbox", style = "width: 20px; height: 20px;" })
                            </td>
                            <td>
                                <span>Only reviewed clients</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
}

<script>


    $(document).ready(function () {
        GetAge('AgeFrom,AgeTo');
        GetAllCountry(BindAllCountry);
    });

    function validateRequest() {
        var res = $(".InterestName").val();
        if (res.length == 0) {
            popAlert("", "Please select your business type.");
            return false;
        }
        else {
            showLoader();
            return true;
        }
    }

    function SearchClientComplete(data) {
        if (data.AuthError) {
            handleAjaxError(data);
            return;
        }
        closePopAlert();
    }

</script>
